# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Lock-файлы провайдеров оставляем под контролем версий:
!**/.terraform.lock.hcl

# Локальные секреты
*.auto.tfvars
.env
